 {% extends 'base.html' %}
 {% block content %}
 {% load static %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
   


<form method="POST" class="form-container">
    {% csrf_token %}
    <h1>Assign Bug</h1>
    <div class="form-row">
        <div class="form-group">
            <label>Assigned To</label>
            {{ form.assigned_to }}
            {{ form.assigned_to.errors }}
        </div>

        <div class="form-group">
            <label>Reported By</label>
            {{ form.reported_by }}
            {{ form.reported_by.errors }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Severity</label>
            {{ form.severity }}
            {{ form.severity.errors }}
        </div>

        <div class="form-group">
            <label>Status</label>
            {{ form.status }}
            {{ form.status.errors }}
        </div>
    </div>

    <div class="form-group">
        <label>Fix Date</label>
        {{ form.fix_date }}
        {{ form.fix_date.errors }}
    </div>

    <div class="form-group">
        <label>Description</label>
        {{ form.Description }}
        {{ form.Description.errors }}
    </div>

    <button type="submit" class="btn-submit">Assign Bug</button>
</form>
</body>
</html>
{% endblock %}